---
pagination:
  data: puzzles
  size: 1
  alias: puzzle
---
<!DOCTYPE html>
<html>

<head>
    <title>Ringram</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/stylistic_styles.css" />
    <link rel="stylesheet" href="/practical_styles.css" />
    
    <script src="/alpine.min.js" defer></script>
    <script>
        let patternmap = {{{json morse}}}
        function morse(l) {
            // coerce to uppercase
            let letter = l.toUpperCase();
            if (!patternmap[letter]) {
                return "";
            }
            return patternmap[letter];
        }
        function letterToDotsDashes(letter) {
            // returns dots, dashes (integers) for a given letter
            let dots = 0;
            let dashes = 0;
            let pattern = morse(letter);
            for (let i = 0; i < pattern.length; i++) {
                if (pattern[i] === ".") {
                    dots++;
                } else if (pattern[i] === "-") {
                    dashes++;
                }
            }
            return {dots, dashes};
        }
        function listToDotsDashes(letterList) {
            // returns dots, dashes (integers) for a given list of letters
            let dots = 0;
            let dashes = 0;
            for (let i = 0; i < letterList.length; i++) {
                let {dots: d, dashes: da} = letterToDotsDashes(letterList[i]);
                dots += d;
                dashes += da;
            }
            return {dots, dashes};
        }
    </script>
    <script>
        function findTabStop(direction, el) {
            // find next (direction 1) or previous (direction -1) tab stop from el
            var universe = document.querySelectorAll('input, button, select, textarea, a[href]');
            var list = Array.prototype.filter.call(universe, function(item) {return item.tabIndex >= "0" && !item.disabled && !item.hidden;});
            var index = list.indexOf(el);
            if (direction == 1) {
                return list[index + 1] || list[0];
            } else if (direction == -1) {
                return list[index - 1] || list[list.length - 1];
            }
        }
    </script>
</head>

<body>
    <header>
        <h1>Morse Puzzles</h1>
    </header>
    <main
    {{#with puzzle}}
        x-data='{
            letter0: "{{getindex (flatten letters) 0}}",
            letter1: "{{getindex (flatten letters) 1}}",
            letter2: "{{getindex (flatten letters) 2}}",
            letter3: "{{getindex (flatten letters) 3}}",
            letter4: "{{getindex (flatten letters) 4}}",
            letter5: "{{getindex (flatten letters) 5}}",
            letter6: "{{getindex (flatten letters) 6}}",
            letter7: "{{getindex (flatten letters) 7}}",
            letter8: "{{getindex (flatten letters) 8}}",
            letter9: "{{getindex (flatten letters) 9}}",
            letter10: "{{getindex (flatten letters) 10}}",
            letter11: "{{getindex (flatten letters) 11}}",
            selected: -1,
            showonlyvalid: false,
            dotsTop: [{{dots-top}}],
            dotsLeft: [{{dots-left}}],
            dashesRight: [{{dashes-right}}],
            dashesBottom: [{{dashes-bottom}}],
            {{#if ( eq 4 ( length letters ) )}}
            get letters () {
                return [
                    [this.letter0, this.letter1, this.letter2, this.letter3],
                    [this.letter4,                             this.letter5],
                    [this.letter6,                             this.letter7],
                    [this.letter8, this.letter9, this.letter10, this.letter11],
                ]
            },
            get lettersTransposed() {
                return [
                    [this.letter0, this.letter4, this.letter6, this.letter8],
                    [this.letter1,                             this.letter9],
                    [this.letter2,                             this.letter10],
                    [this.letter3, this.letter5, this.letter7, this.letter11],
                ]
            },
            rowOf(index) {
                if (index < 0) return -1;
                else if (index <= 3) return 0;
                else if (index <= 5) return 1;
                else if (index <= 7) return 2;
                else if (index <= 11) return 3;
                else return -1;
            },
            columnOf(index) {
                if ([0, 4, 6, 8].includes(index)) return 0;
                else if ([1, 9].includes(index)) return 1;
                else if ([2, 10].includes(index)) return 2;
                else if ([3, 5, 7, 11].includes(index)) return 3;
                else return -1;
            },
            {{/if}}
            {{#if ( eq 3 ( length letters ) )}}
            get letters () {
                return [
                    [this.letter0, this.letter1, this.letter2],
                    [this.letter3,               this.letter4],
                    [this.letter5, this.letter6, this.letter7],
                ]
            },
            get lettersTransposed() {
                return [
                    [this.letter0, this.letter3, this.letter5],
                    [this.letter1,               this.letter6],
                    [this.letter2, this.letter4, this.letter7],
                ]
            },
            rowOf(index) {
                if (index < 0) return -1;
                else if (index <= 2) return 0;
                else if (index <= 4) return 1;
                else if (index <= 7) return 2;
                else return -1;
            },
            columnOf(index) {
                if ([0, 3, 5].includes(index)) return 0;
                else if ([1, 6].includes(index)) return 1;
                else if ([2, 4, 7].includes(index)) return 2;
                else return -1;
            },
            {{/if}}
            get rows() {
                return this.letters.map(listToDotsDashes)
            },
            get columns() {
                return this.lettersTransposed.map(listToDotsDashes)
            },
            get minDotsAvailable() {
                if (this.selected == -1) return 999;
                return Math.min(
                    this.dotsLeft[this.rowOf(this.selected)] - this.rows[this.rowOf(this.selected)].dots,
                    this.dotsTop[this.columnOf(this.selected)] - this.columns[this.columnOf(this.selected)].dots
                );
            },
            get minDashesAvailable() {
                if (this.selected == -1) return 999;
                return Math.min(
                    this.dashesRight[this.rowOf(this.selected)] - this.rows[this.rowOf(this.selected)].dashes,
                    this.dashesBottom[this.columnOf(this.selected)] - this.columns[this.columnOf(this.selected)].dashes
                );
            }
        }'
        {{/with}}
    >
        {{#with puzzle}}
        <form id="puzzle"
            {{#if ( eq 4 ( length letters ) )}}
                class="four"
            {{/if}}
            {{#if ( eq 3 ( length letters ) )}}
                class="three"
            {{/if}}
        >
            <!-- centre -->
            <div class="centre"></div>

            <!-- top dots -->
            {{#each [dots-top]}}
            <div class="top dots _{{@index}}" x-data="{ ind: {{@index}}, tot: {{this}} }">
                {{#each (list this)}}
                <div class="dot" :class="[columns[ind].dots > {{@index}} ? 'used' : '', columns[ind].dots > {{@index}} + tot ? 'over' : '']"></div>
                {{!-- <span x-text="columns[ind].dots + ' dots'"></span> --}}
                {{!-- <span><span x-text="ind"></span>, {{@index}}</span> --}}
                {{/each}}
                <template x-if="tot == 0">
                    <div class="dot" :class="[columns[ind].dots > 0 ? 'over' : 'hidden']"></div>
                </template>
            </div>
            {{/each}}

            <!-- left dots -->
            {{#each [dots-left]}}
            <div class="left dots _{{@index}}" x-data="{ ind: {{@index}}, tot: {{this}} }">
                {{#each (list this)}}
                <div class="dot" :class="[rows[ind].dots > {{@index}} ? 'used' : '', rows[ind].dots > {{@index}} + tot ? 'over' : '']"></div>
                {{/each}}
                <template x-if="tot == 0">
                    <div class="dot" :class="[rows[ind].dots > 0 ? 'over' : 'hidden']"></div>
                </template>
            </div>
            {{/each}}

            <!-- bottom dashes -->
            {{#each [dashes-bottom]}}
            <div class="bottom dashes _{{@index}}" x-data="{ ind: {{@index}}, tot: {{this}} }">
                {{#each (list this)}}
                <div class="dash" :class="columns[ind].dashes > {{@index}}?(columns[ind].dashes>({{@index}} + tot)?'over':'used'):''"></div>
                {{/each}}
                <template x-if="tot == 0">
                    <div class="dash" :class="[columns[ind].dashes > 0 ? 'over' : 'hidden']"></div>
                </template>
            </div>
            {{/each}}

            <!-- right dashes -->
            {{#each [dashes-right]}}
            <div class="right dashes _{{@index}}" x-data="{ ind: {{@index}}, tot: {{this}} }">
                {{#each (list this)}}
                <div class="dash" :class="rows[ind].dashes > {{@index}}?(rows[ind].dashes>({{@index}} + tot)?'over':'used'):''"></div>
                {{/each}}
                <template x-if="tot == 0">
                    <div class="dash" :class="[rows[ind].dashes > 0 ? 'over' : 'hidden']"></div>
                </template>
            </div>
            {{/each}}

            <!-- inputs -->
            {{#each (flatten letters)}}
            {{#if this}}
            <input type="text" value="{{this}}" disabled x-model="letter{{@index}}" />
            {{else}}
            {{!-- go to prev input on left --}}
            {{!-- go to prev input on backspace --}}
            {{!-- go to next input on right--}}
            <input type="text" maxlength="1" x-model="letter{{@index}}" {{#if @first}}{{else}}x-on:keydown.backspace.throttle="if ($event.target.value === '') {findTabStop(-1, $event.target).focus()}"{{/if}} {{#if @first}}{{else}}x-on:keydown.left.prevent="findTabStop(-1, $event.target).focus()"{{/if}} {{#if @last}}{{else}}x-on:keydown.right="findTabStop(1, $event.target).focus()"{{/if}} x-on:focus="selected={{@index}}" x-on:focusout="selected=-1"/>
            {{/if}}
            {{/each}}
        </form>
        {{/with}}

        {{!-- debugging for currently selected input and remaining dots/dashes --}}
        {{!-- <div>
            selected: <span x-text="selected"></span>
            <br>
            row: <span x-text="rowOf(selected)"></span>
            <template x-if="rowOf(selected) != -1">
                <div>
                    <br>
                    dots-total: <span x-text="dotsLeft[rowOf(selected)]"></span>
                    dashes-total: <span x-text="dashesRight[rowOf(selected)]"></span>
                    <br>
                    dots-used: <span x-text="rows[rowOf(selected)].dots"></span>
                    dashes-used: <span x-text="rows[rowOf(selected)].dashes"></span>
                    <br>
                    dots-remaining: <span x-text="dotsLeft[rowOf(selected)] - rows[rowOf(selected)].dots"></span>
                    dashes-remaining: <span x-text="dashesRight[rowOf(selected)] - rows[rowOf(selected)].dashes"></span>
                </div>
            </template>
            <br>
            col: <span x-text="columnOf(selected)"></span>
            <template x-if="columnOf(selected) != -1">
                <div>
                    <br>
                    dots-total: <span x-text="dotsTop[columnOf(selected)]"></span>
                    dashes-total: <span x-text="dashesBottom[columnOf(selected)]"></span>
                    <br>
                    dots-used: <span x-text="columns[columnOf(selected)].dots"></span>
                    dashes-used: <span x-text="columns[columnOf(selected)].dashes"></span>
                    <br>
                    dots-remaining: <span x-text="dotsTop[columnOf(selected)] - columns[columnOf(selected)].dots"></span>
                    dashes-remaining: <span x-text="dashesBottom[columnOf(selected)] - columns[columnOf(selected)].dashes"></span>
                </div>
            </template>
            <template x-if="selected != -1">
                <div>
                    <br>
                    minimum dots available: <span x-text="minDotsAvailable"></span>
                    or <span x-text="Math.min(dotsLeft[rowOf(selected)] - rows[rowOf(selected)].dots, dotsTop[columnOf(selected)] - columns[columnOf(selected)].dots)"></span>
                    minimum dashes available: <span x-text="minDashesAvailable"></span>
                    or <span x-text="Math.min(dashesRight[rowOf(selected)] - rows[rowOf(selected)].dashes, dashesBottom[columnOf(selected)] - columns[columnOf(selected)].dashes)"></span>
                </div>
            </template>
        </div> --}}

        <section class="nextprev">
        {{#if pagination.previous}}
            {{#if (eq pagination.pageNumber 1)}}
            <a href="../">Previous</a>
            {{else}}
            <a href="../{{add pagination.pageNumber -1}}">Previous</a>
            {{/if}}
            {{else}}
            <span>Previous</span>
        {{/if}}
        {{#if pagination.next}}
            {{#if (eq pagination.pageNumber 0)}}
            <a href="./{{add pagination.pageNumber 1}}">Next</a>
            {{else}}
            <a href="../{{add pagination.pageNumber 1}}">Next</a>
            {{/if}}
            {{else}}
            <span>Next</span>
        {{/if}}
        </section>

        <section class="morse" x-data="{ vmorse: false }">
            <form>
                <label for="vmorse">Use VMORSE</label>
                <input type="checkbox" id="vmorse" x-model="vmorse" />
                <label for="showonlyvalid">Show only valid letters</label>
                <input type="checkbox" id="showonlyvalid" x-model="showonlyvalid" />
            </form>
            <section class="cheatsheet">
                {{#each morse}}
                <template x-if="vmorse">
                    <div class="translation">
                        {{@key}}: <span class="vmorse">{{@key}}</span>
                    </div>
                </template>
                <template x-if="!vmorse">
                    <div
                        class="translation"
                        :class="showonlyvalid && ({{ndots this}} > minDotsAvailable || {{ndashes this}} > minDashesAvailable) ? 'unavailable' : ''"
                    >
                        <span class="original">
                            {{@key}}
                        </span>
                        <span class="morse">
                        {{#each (strToList this)}}
                            {{#if (eq this ".")}}
                            <div class="dot used"></div>
                            {{else}}
                            <div class="dash used"></div>
                            {{/if}}
                        {{/each}}
                        </span>
                    </div>
                </template>
                {{/each}}
            </section>
        </section>
    </main>
</body>

</html>